@model Web.Agenda.Core.ViewModels.Agenda.AgendaViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Agenda</h2>

<h3>Esta seguro que desea eliminar este contacto?</h3>
<div>
    <h4>Eliminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cell)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a asp-action="Index">Volver a la lista</a>
        </div>
    </form>
</div>
